body {
    font-family: 'Montserrat', serif;
    margin: 0;
    padding-top: 50px;
    background-color: #f2f2f2;
}

.back,
button {
    font-family: 'Montserrat', serif;
    display: inline-flex;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    background-color: #4e75ff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.back:hover,
button:hover {
    background: #6c8cff;
    transform: scale(1.03);
    transition: all 0.3s ease;
}

.back {
    position: fixed;
    top: 24px;
    left: 24px;
}

.form-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    border-radius: 8px;
    padding: 24px;
    width: 408px;
    background-color: #fff;
    margin: 0 auto;
}

.feedback-form {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    width: 360px;
    /* height: 192px; */
    margin: 0 auto;
}

label {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    width: 360px;
    min-height: 72px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

input {
    font-family: 'Montserrat', serif;
    font-size: 16px;
    line-height: 1.5;
    border: 1px solid #808080;
    border-radius: 4px;
    width: 360px;
    height: 40px;
}

input:hover,
textarea:hover {
    border: 1px solid #000;
}

textarea {
    width: 360px;
    height: 80px;
    border: 1px solid #808080;
    border-radius: 4px;
    font-family: 'Montserrat', serif;
    font-size: 16px;
    line-height: 1.5;
    resize: none;
}

button {
    margin-top: 16px;
}